import api from '@/api';
import { ActionType, ProColumns, ProTable } from '@ant-design/pro-components';
import { Button, Popconfirm, message } from 'antd';
import { useRef } from 'react';

import {{pascalCase name}}EditModal from '@/components/{{pascalCase name}}/{{pascalCase name}}EditModal';
import { useAccess } from '@@/plugin-access';

export default function {{pascalCase name}}Table() {
  const access = useAccess();
  const actionRef = useRef<ActionType>();
  const columns: ProColumns<API.{{pascalCase name}}>[] = [
    { dataIndex: 'id', title: 'ID', search: false, hidden: true },
    { dataIndex: 'id', title: 'ID', width: 100, search: false },
    {
      dataIndex: 'id',
      title: '操作',
      valueType: 'option',
      fixed: 'right',
      width: 100,
      render: (text, record, _, action) => {
        return [
          access.{{constantCase name}}__EDIT && (
            <{{pascalCase name}}EditModal
              id={record.id}
              key="edit"
              onFinished={() => actionRef.current?.reload()}
            >
              <a>编辑</a>
            </{{pascalCase name}}EditModal>
          ),
          access.{{constantCase name}}__DELETE && (
            <Popconfirm
              key="delete"
              title={`确定删除吗？`}
              onConfirm={async () => {
                await api.{{camelCase name}}.deleteById({ id: record.id });
                message.success('删除成功');
                action.reload();
              }}
            >
              <a key="delete">删除</a>
            </Popconfirm>
          ),
        ];
      },
    },
  ];
  return (
    <ProTable<API.{{pascalCase name}}>
      rowKey="id"
      search={false}
      actionRef={actionRef}
      toolbar={ {
        actions: [
          access.{{constantCase name}}__EDIT && (
            <{{pascalCase name}}EditModal
              key="create"
              onFinished={() => actionRef.current?.reload()}
            >
              <Button type="primary">新建{{ comment }}</Button>
            </{{pascalCase name}}EditModal>
          ),
        ],
      }}
      size="small"
      scroll={ { x: 1000 }}
      columns={columns}
      request={api.{{camelCase name}}.page}
    ></ProTable>
  );
}
